.hide-on-mobi {
    display: none;
}

.show-on-mobi {
    display: block;
}



.pt-80 {
    padding-top: 80px;
}

.img {
    border-radius: 2px;
    width: 100%;
}
.img-icon {
    width: 100%;
    height: 100%;
}

.rectangle {
    position: absolute;

    flex-direction: column;
}


.filter {
    filter: brightness(80%);
}

.p-80 {
    padding-top: 80px;
}

.p-2 {
    padding-top: 2px;
}
.p-32 {
    padding: 0 32px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
  right: 0;
}


input[type="text"], 
input[type="password"], 
input[type="url"], 
input[type="tel"], 
input[type="search"], 
input[type="number"], 
input[type*="date"], 
input[type="email"]{
    border: 1px solid @gray-line-color;
    height: 40px ;
}
  

@media only screen and (min-width: (@screen__m)) {
    .hide-on-tablet {
        display: none;
    }

    .show-on-tablet {
        display: block;
    }
}

@media only screen and (min-width: (@screen__l)){
    .hide-on-pc {
        display: none;
    }
}