.hide-on-mobi {
    display: none;
}

.show-on-mobi {
    display: block;
}

@media only screen and (min-width: (@screen__m)) {
    .hide-on-tablet {
        display: none;
    }

    .show-on-tablet {
        display: block;
    }
}

@media only screen and (min-width: (@screen__l)){
    .hide-on-pc {
        display: none;
    }
}