
.btn {
    background-color: @black-color-text;
    color: @white-color;
    &:hover {
        background-color: @noti-color;
        color: @white-color;
        border: none;
    }
}

button {
    outline: none;
    border: none;
    height: 32px;
    background: @black-color-text;
    color: @white-color;
    &:hover {
        border: none;
        background-color: @noti-color;
        color: @white-color;
    }
}


.fotorama__fullscreen-icon:focus:after, 
.fotorama__zoom-out:focus:after, 
.fotorama__zoom-in:focus:after, 
.fotorama__arr:focus:after, 
.fotorama__stage__shaft:focus:after, 
.fotorama__nav__frame--thumb:focus .fotorama__thumb:after, 
.fotorama__nav__frame--dot:focus .fotorama__dot:after{
    box-shadow: none;
}