@import '_resets.less';
@import '_base.less';
@import '_grids.less';

.header {
    &__acc {
        display: none;
    }
}
.article {

    &__container {
        padding-bottom: 20px;
    }

    &__img{
        position: relative;
        & svg{
            position: absolute;
            top: 12px;
            right: 12px;
            &:last-child {                    
                top: 95%;
                left: 0;
            }
        }
    }
    &__infor {
        &-title {
            .fonts-12();
            line-height: 48px;
            text-transform: capitalize;
        }

        &-content {
            .fonts-1();
            line-height: 28px;
            color: @black-color-text;
            text-align: justify;
            padding-bottom: 64px;
        }

        &-discount {
            .fonts-1();
            & span {
                border-radius: 16px;
                margin-right: 24px;
                padding: 8px;
                background-color: @header-color;
            }
        }
    }

    &__submenu {
        &-item {
            text-transform: uppercase;
            cursor: pointer;
            .display-flex();
            align-items: center;
            
            height: 56px;
            .fonts-3();
            border-top: 1px solid @border-color;

            &:last-child {
            border-bottom: 1px solid @border-color;
            }

            & a{
                display: flex;
                align-items: center;
                line-height: 56px;
            }
        }
    }

}

.container {
    padding: 0 32px;
    &-nav {
        padding-right: 32px;
        padding-left: 32px;

        &-second {
            margin-bottom: 24px;
        }
        & h2 {
            margin-top: 0;
        }
    }

    &__title {
        padding-bottom: 20px;
    }


    &__list {
        display: flex;
        padding: 0 16px;

        &-item {
            flex: 1;
            height: 44px;
            text-align: center;
            border-bottom: 1px solid @border-color;
            &:last-child {
                border-bottom: 1px solid @noti-color;
            }
        }

        &-link {
            .fonts-1();
            color: @black-color-text;
            line-height: 44px;
        }
    }

    &__border {
        border: 1px solid @gray-line-color;
        border-radius: 2px;
        margin-right: 4px;
    }

    &__product {
       
        &-link {
            display: flex;
            height: 100%;
            align-items: center;
            min-width: 160px;
          
            & h3 {
                .fonts-1();
                color: @black-color-text;
                width: 50%;
                text-align: center;
            }

            & img {
                width: 50%;
            }
        }
    }

    &__cate {

        &-desc {
            & p {
                padding: 20px 0;
                text-align: justify;
            }
        }

        &-img {
            align-self: flex-end;
            

            &-position {
                display: flex;
                flex-direction: row-reverse;
            }           
        }

        &-image {
            padding-top: 20px;
            border-radius: 6px;
        }
    }

    &__rectangle {
        float: right;
        right: 5%;
        top: 20%;          
        order: -1;
        display:none;
        & svg {
            &:last-child {
                position: absolute;
                left: -15px;
                top: calc(100% - 5px);
            }
        }
    }

    &__shop {
        padding: 0 32px;

        position: relative;
        margin-bottom: 80px;

        &-img {
            position: relative;
          
            & video {
                width: 100%;
            }
        
        }
        

        &-card {
            
            & h2 {               
                padding-bottom: 16px;              
            }
            & p {             
                padding-bottom: 24px;            
            }

            &-btn {
                width: 96px;
            }
            
           
        }

        &-corner-m {
            position: absolute;
            left: -10px;
            top: calc(100% - 6px);
        }

        &-corner-l {
            position: absolute;
            right: 16px;
            top: 5%;
        }

        &-main {
            position: relative;
        }
        
    }

    &__best {
        &-text {
            margin-bottom: 10px;
            .display-flex();
            align-items: center;

            &-view {
                .fonts-3();              
            }
        }

        &-item {
            display: block;
            text-decoration: none;
            margin-top: 20px;
        }

        &-price {
            .fonts-3();
            color: @black-color-text;
        }
    }


 
}

.banner {
    margin: 0 -32px;
    background-color: @black-color-text;

    
  
    &__desc {

        &-content {
            padding-bottom: 60px
        }
        &-title {
            color: @white-color;
            padding-top: 24px;
        }
        
        &-paragraph {         
            color: @white-color;
            padding: 24px 0;
        }

        &-btn {
           background-color: @white-color;
           color: @black-color-text;
           width: 140px;
        }
    }
}

.rings {
    position: relative;
    padding-right: 32px;
    padding-left: 32px;


    &__rectangle{
        order: -1;
        top: 20%;
        display: none;
        & svg {
            &:last-child {
                position: absolute;
                left: 32px;
                top: 32px;
            }
        }           
    }
 
    &__text {    
        padding-left: 32px;
        padding-right: 32px; 
        &-view {
            padding-top: 38px;
            display: flex;
            align-items: center;

            & p:hover {
                color: @noti-color;
            }

        }
    }

    &__img {
        position: relative;
        &-img {
            margin-top: 32px;           
        }

        & h4 {            
            text-transform: capitalize;
        }

        &-text-first {
            bottom: 20px;
            position:absolute;
            left: 10%;
        }

        &-block {
            display: block;
            position: absolute;
            bottom: 20px;
            left: 10%;

            & button {
                margin-top: 16px;
            }
        }      
    }

    &__content {
        
        & h2 {
            padding-bottom: 16px;
        }
    }

    &__video {
        padding-right: 32px;
        padding-left: 32px;

       
        &-img {
            margin-top: 20px;
            position: relative;

            & img {
                width: 100%;
            }
        }

        &-stop {
            & .stop,
            & svg {
              position: absolute;
              right: 50%;
              transform: translate(50%, -50%);  
            }

            & .stop {
                top: 50%;
            }

            &-small {
                top: 20%;
            }

            &-big {
                top: 50%;
            }

        }     
        
        &-bottom {
            position: absolute;
            top: 5%;
            float: left;
            left: 35%;
        }   
        
        &-above {
            position: absolute;
            top: 25%;
            right: 32px;
            float: right;
        }
    }
}


.best__seller {
    padding-right: 32px;
    padding-left: 32px;


    & h2 {
        padding-bottom: 24px;
        
    }
    &-img {
        width: 100%;
        padding-bottom: 16px;
    }

    & p {
        .fonts-3();
        padding-bottom: 24px;

        &:hover{
            color: @noti-color;
        }
    }
}

.topic{
    padding: 0 32px;
    background-color: @background-color;

    &__content {

        &-list {
            display: flex;
            margin: 32px 0;

        }

        &-item {
            & img {
                padding: 14px;
                background-color: @point-color;
                border: none;
            }

            &:nth-of-type(2n +1 ) {
                padding-right: 16px;
            }

            & p{
                padding-top: 4px;
                .fonts-2();
            }
        }

        &-img {
            padding-bottom: 32px;
        }
    }

    &-rectangle {
        & svg {
            &:last-child {
                position: absolute;
                top: -16px;
                right: -15px;
            }
        }
    }

    &__second {
        position: relative;
        & div {
            
            float: left;
            left: 32px;
            top: calc(100% - 20px);
        }         
    }

    
}

.paragraph {
    padding-right: 32px;
    padding-left: 32px;
    position: relative;

    margin-bottom: 25px;
    &__title {
        padding-bottom: 32px;
        text-transform: capitalize;
    }

    &__content {
        &-item {
            padding-bottom: 16px;
                 
        }
    }
}


//title
.title {
    padding-right: 32px;
    padding-left: 32px;
    &__img {
        display: flex;       
        position: relative;
    }

    &-move {        
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &-left {
                left: 6px;
            }

            &-right {
                right: 8px;
            }
        }

    &__pagi {
        display: flex;
        justify-content: center;

        & svg {
            margin-top: 32px;
            margin-right: 8px;
        }
    }

    &__bottom {
        padding-right: 32px;
        padding-left: 32px;
        &-img {

            &-picture {
                width: 100%;
            }

            &-first {
                position: relative;
                display: block;
            }

        }

        &-right {
            right: 0;
        }
    }

    &-item {
        display: block;
    }
}

//benefits
.benefits {

    & h2 {
        padding-bottom: 66px;
    }

    &__item {
        background-color: @background-color;
        position: relative;
        padding: 24px 0 36px 24px;

        & svg{
            position: absolute;
            top: 90%;
            right: 0;
        }

        & h3 {
            padding: 26px 0 12px 0;
        }
    }

    &-col {      
        margin-bottom: 36px;
    }
    &__menu {
        &-list {
            background-color: @header-color;
            padding: 18px 0;

        }

        &-item {
            margin-bottom: 10px;
            padding: 7px 20px;

            & a, 
            & p{
                &:hover{
                    color: @noti-color;
                }
            }

        }
    }

    &__content {
        &-list {

        }
        &-item {
            &--title {
                .fonts-10();
                    padding: 10px 0;
                    border-bottom: 1px solid @border-color;
                    margin: 20px 0;
                    
                &:hover{
                    color: @noti-color;
                }
            }

            &--child{

                & a{
                    color: @noti-color;
                }
                & p{
                    margin: 14px 0;
                }


            }



            &--body {
                &-title {
                    color: @listing-text-color;

                }
            }
        }
    }

    &__sevice {
        & h2 {
            border-bottom: 1px solid @black-color-text;
            padding-bottom: 30px;
            margin-bottom: 60px;
        }
    }
}



//main-subscribe
.main {
    &__subscribe {
        margin: 0 -32px;
        background-color: @black-color;
        position: relative;
    
        &-text {
            color: @white-color;
        }
    
        &-btn {
            background-color: @noti-color;
            height: 36px;
            width: 40px;        
            cursor: pointer;
            border: none;
        }
        &-block {
            padding: 57px 0;
            display: grid;
            justify-content: center;
            row-gap: 24px;
        
        }
    }
}


//cover-white
.cover{
    &__white {
        position: absolute;
        top: 0;
        width: 100%;
        height: calc(100% + 10px);
        background: linear-gradient(0, #ffffff 0%, rgba(255, 255, 255, 0) 91.21%);
        display: flex;
        justify-content: center;
        align-items: flex-end; 
    
        &-btn {
            background-color: @white-color;
            color: @black-color-text;
            border: 1px solid @black-color-text;
    
        }
        
    }

    
}

.main-rectangle {
    float: left;
    left: 10%;
    top: 50%;
}



.footer {

    &__heading {
        background-color: @noti-color;
        padding: 0 19px;       

        &-close {
            float: right;
            padding-top: 14px;
        }

        &-list {
            display: grid;
            grid-template-columns: 1fr 1fr; 
            row-gap: 12px;  
            padding-top: 26px;
            padding-bottom: 20px;
            column-gap: 14px;
        }

        &-item {    
            .fonts-3();    
            display: flex;
            align-items: center;
            color: @white-color; 
            & img {
                padding-right: 8px;
            }

        }
    }

    &__subscribe {
        background-color: @header-color;
        position: relative;
        display: grid;
        justify-content: center;
        row-gap: 24px;
        
        &-block {
            order: -1;
            padding-top: 57px;
            row-gap: 24px;
        }
    }

    &__email {
        background-color: @white-color;
        height: 40px;
        display: flex;
        align-items: center;
        flex: 1;
        border: 1px solid @gray-line-color;
        border-radius: 2px;
        
        &-input-wrap {
            flex: 1;
            height: 100%;
        }

        &-input {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            padding: 0 16px;
            .fonts-1 ();
            color: @text-color;
        }

        &-btn {
            border: none;
            height: 38px;
            width: 40px;
            background-color: @black-color-text;
            cursor: pointer;
        }
    }

    &__sponsor {
        position: relative;

        &-list {    
            align-items: center;
            padding: 24px 0;
            border-bottom: 1px solid @gray-line-color;
            border-top: 1px solid @gray-line-color;
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 16px;
        }

        &-img {
            height: 100%;
            display: block;
        }   
    }

    &__contact {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;

        &-rating {
            display: flex;
            align-items: center;
            padding-top: 12px;
            padding-bottom: 22px;

            & h2 {
                padding-right: 12px;
                margin: 0;
        
                color: @black-color-text;
            }
            &-point {
                .fonts-10();
                color: @black-color-text;
                padding-left: 12px;
            }
        }

        &-star-list {
            display: flex;
        }

        &-star-item {
            
            padding-right: 4px;
            cursor: pointer;
        }
         
        &-item {
            
            padding-bottom: 20px;
        }

        &-help {
            padding-bottom: 20px;
            & .nav.item{
                & a {
                    .fonts-10();
                    color: @black-color-text;
                    line-height: 1.8;
                    &:hover {
                        color: @noti-color;
                    }
                }

            }
            
        }

        &-finish {
            padding-top: 28px;
            padding-bottom: 16px;
            &-link {
                .fonts-10();
                color: @black-color-text;
                
            }
        }

        &-badges {
            &-img {
                padding-right: 14px;
                padding-bottom: 12px;
            }
        }

        &-logo {
            order: -1;
        }
    }
    
    &__social {
        padding-bottom: 48px;

        &-link {
            
            padding-left: 8px;
        }
    }

    &__bottom {      
        
        display: block;
        margin: 30px 0;

        &-country {
            display: flex;
            &-img {
                padding-right: 12px;
            }
        }
        &-list {
           padding-top: 24px;
        }

        &-item {
        
            padding-right: 20px;
            padding-bottom: 16px;

            &:last-child {
                padding-right: 0;
            }

            &-link {
                .fonts-1();
                
                color: @text-color;
            }

            &:first-child a{
                color: @black-color-text;
            }
        }
        
        &-year {
            color: @text-color;
            .fonts-1();
            
         }
    }

}

.payment{
    padding: 0 32px;
    &-list {
        border: 1px solid @gray-line-color;
        & li{
            &:first-child{
                border-right: 1px solid @gray-line-color;
            }

            &:last-child{
                margin-bottom: 18px;
            }
            

        }

    }

    &-title {
        margin: 18px 0 13px 0;
    }

    &-img {
        text-align: center;
        padding: 12px 0;

    }
}






@import '_colors.less';
@import '_responsive.less';
@import '_breadcrumbs.less';
@import '_buttons.less';
@import '_fonts.less';
@import '_theme.less';
