@screen__s: 420px;


@media only screen and (max-width: (@screen__s )) {

}

@media only screen and (max-width: (@screen__m )) {
    header {
        border-bottom:  1px solid @border-color;
    }

}

@media only screen and (min-width: (@screen__m )) {
    .navigation, 
    .breadcrumbs, 
    .page-header 
    .header.panel, 
    .header__content, 
    .footer.content, 
    .page-wrapper > 
    .widget, 
    .page-wrapper > .page-bottom, 
    .block.category.event, 
    .top-container, 
    .page-main {
        margin: 0;
        max-width: 100%;
    }

    .navigation .level0.parent > .level-top {
        padding-right: 30px;

        & > .ui-menu-icon {

            &::after {
                font-size: 26px;
    
            }
        }
    }

    
    .not-logged-in{
        display: none;
    }

    .block-search{
        display: none;
    }

    .header {
        &__content {
            padding: 0 32px;
        }
    }
    .minicart-wrapper {
        margin-left: 0;
        order: 1;
        text-align: center;
    }
}

@media only screen and (min-width: (@screen__l )) {
    .header.panel > .header.links > li:nth-child(2){
        display: none;
    }


    .header {
        &__content {
            display: grid;
            grid-template-columns: 4fr 4fr 0.5fr 0.5fr 0.5fr;
        }

        &__links , &__search {
            text-align: center;
        }
        
    }

}