
@import '_resets.less';
@import '_base.less';
@import '_grids.less';
ul, ol {
    margin: 0;
}
ul > li, ol > li {
    margin: 0
}

.nav-toggle {
    position: relative;
    top: 0;
    order:-1;
    margin-left: -12px;
    margin-right: 16px;

}

.logo {
    margin: 0;
}


.minicart{
    &-wrapper {
        position: relative;
        margin-left: 10px;
        margin-top: 0;

        & .action.showcart {
            & .counter.qty {
                position: absolute;
                top: 8px;
                color: white;
                border-radius: 55%;
                left: 19px;
                width: 15px;
                height: 20px;
                line-height: 20px

            }
        }

        & .product-item-details {
            padding-left: 10px;
        }

    }

    &-items {
        & .product-item-name a {
            color: @black-color-text

        }
        & .item.product.product-item {
            & .product{
                display: flex;
                justify-content: space-between;
                & .product-item-details{
                    text-align: start;
                }

                &.options,
                &.list{
                    flex-direction: column;
                    & .label {
                        .fonts-10();
                    }

                    & .toggle{
                        padding-bottom: 8px;
                    }

                }

                & .product-image-container{
                    width: 100% !important
                }
            }
        }
    }

}



.empty,
.fieldset > .field {
    .fonts-1();

}


.abs-reset-list > li, 
.bundle-options-container .block-bundle-summary .bundle.items > li, 
.product-items > li, 
.prices-tier > li, 
.cart-container .checkout-methods-items > li, 
.opc-wrapper .opc > li, 
.opc-progress-bar > li, 
.checkout-agreements-items > li, 
.items > li, 
.block-wishlist-management .wishlist-select-items > li, 
.paypal-review .items-qty > li, 
.order-details-items .items-qty > li, 
.footer.content ul > li, 
.block-banners .banner-items > li, 
.block-banners-inline .banner-items > li, 
.block-event .slider-panel .slider > li {
    margin-bottom: 20px;
}

//PAGE
.page {
    &-main {
        max-width: 100%;
        padding: 0 32px ;
        margin: 0;
        & .account {
            padding-top: 90px;

        }

        & .main__subscribe{
            margin: -32px !important;
        }
    }

    &-wrapper {
        overflow: hidden;
    }


    &-header {
        & .panel.wrapper {
            border: none;
        }
        
        border: none;
    }

    &-with-filter {
        & .columns .sidebar-main {
            order: 1;
        }
    }

    &-products {
        & .products-grid .product-items {
            flex-wrap: wrap;
            display: flex;
        }
    }
    
    &-layout-1column .block.widget .products-grid .product-item{
        width: 100%;
    }

    &-title {
        &-wrapper {
            & .page-title{
                & .base {
                    display:none;
                }
            }

        }
    }

}

.pages {
    position: relative;
    & .items.pages-items {
        & li {
            padding: 0 12px;
            & a span {
                .fonts-1();
                color: @black-color-text;
            }

            &:hover{
                background: @noti-color;
            }

            &:first-child{
                &:hover{
                    background: @white-color;
                }
            }
        }

        & .item.pages-item-previous {
            & .action.previous {
                margin-right: 0;


            }
        }


        & .item.pages-item-next {
            position: absolute;
            top: 0;
            margin-left: 26px;


        }
    }
}


//

.swatch{
    &-select {
        &.size,
        &.precious_stones {
            .fonts-1();
        }
    }

    &-attribute {
        &.size{
            & .swatch-option{
                height: 28px;
            }
        }

    }

    &-option{
        &-tooltip {
            & .title{
                .fonts-1();
            }
            & .corner{
                top: 93%;
                left: 40%;
            }
        }
    }


}

.navigation .level0 > .level-top {
    padding: 0 0 0 20px;
    display: flex;
    align-items: center;
}

.navigation{
    & ul {
        padding: 0;
    }

    & .parent .level-top:after{
        top: 0;
    }
    & .level0 .submenu li.parent > a > .ui-menu-icon:after {
        font-size: 24px;
    }
}


.level-top .ui-menu-item-wrapper {
    display: flex;
    align-items: center;
    & span:nth-child(2){

        .fonts-3();
    }
}


.options {
    & dd {
        & ol {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    & .items {
        align-items: flex-start;
    }
}

.items {
    align-items: center;
}


.widget .block-title > strong {
    .fonts-4();
}


// BLOCK

.block {

    &-new {
        &-products {
            padding: 80px 32px;
        }
    }

    &.filter{
        & .title{
            padding:0;
        }
        & .content {
            & .options dt {
                padding-bottom: 10px;
                color: @listing-text-color;
            }
        }

        & .block-content.filter-content {
            & .filter-options {
                & .items {
                    & .item {
                        padding-bottom: 12px;
                    }
                }

                & .filter-options-content{
                        & ol {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr ;
                            grid-gap: 10px;
    
                        }
                }
                    
            }

            & .swatch-attribute.swatch-layered.color {
                & .swatch-attribute-options.clearfix {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }
        }
    }

    &-products {
        &-list {
           padding-top: 80px;

        }
    }

    &-collapsible {
        top: 0;
        &-nav{
            & .title.block-collapsible-nav-title{
                & strong{
                    padding-left: 17px;
                }
                &::after {
                    top: 10px;
                }
            }

            & .content.block-collapsible-nav-content.active {
                & .nav.items {
                    & .nav.item{
                        padding-left: 14px;
                    }
                }
            }
        }
    }

    &-search{
        margin: 0 10px;
        order: -1;
        & .control {
            border: none;
            position: absolute;
            top: 50px;
            max-width: 100%;
            left: 10px;
            right: 10px; 
            
        }
    }

    &-wishlist {
        & .counter {
            .fonts-1();
            padding-left: 12px;

        }
    }

    &.widget {
        & .product-item-info{
            display: flex;
            flex-direction: column;
            position: relative;
        
        }

        &.block-products-list.grid {
            padding-right: 32px;
            padding-left: 32px;
            & .block-content {
                & .products-grid.grid {
                    & .product-items.widget-product-grid{
                        display: flex;
                        overflow-x: scroll;
                    }

                }
            }

        }
    }

    &-content  {
        & form {
            & .actions-toolbar {
                & .primary{
                    & button{
                        padding: 0 17px;
                    }
                }
            }
        }
    }

    &.block-dashboard-info {
        margin-top: 30px;

        &.block-dashboard-info {
            & .block-content {
                & .action.edit,
                & .action.change-password {
                    &:hover{
                        color: @noti-color;
                    }
                }
            }
    
        }
    
        &.block-dashboard-addresses{
            & .block-content {
                & .action.edit,
                & .action.change-password {
                    &:hover{
                        color: @noti-color;
                    }
                }
            }
        }

    }
}

//

//PRODUCT



.product-item-actions .actions-primary,
.product-item-details .product-item-description {
    display: none;
}

.products {
    &.wrapper.list.products-list{
        & .products.list.items.product-items{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;

            & .item.product.product-item {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0 10px;

                & .product-item-info{
                    width: 100%;
                    display: flex;
                    margin: 0 -4px;
                    & .product.details.product-item-details,
                    & .product.photo.product-item-photo{
                        flex: 0 0 50%;
                        max-width: 50%;
                        padding: 0 4px;
                    }
                }
                & .product-item-actions .actions-secondary {
                    display: flex;
                    & a::before{
                        position: static;                       
                    }
                }
            }
        }

    }

}

.product {
    &-items {
        & li::after{
            display: none;
        }

        & .action.towishlist:before{
            font-size: 40px;
        }
    }

    &-item {
        &-info {
            position: relative;

        }

        &-actions {
            & .actions-secondary{
                & a:first-child::before{
                    position: absolute;
                    top: 5%;
                    right: 10px;
                    z-index: 10;          
                }
            }

            & a:last-child::before {
                position: absolute;
                left: 0;
                top: 55%;
                z-index: 10;
            }

            & .actions-secondary > .action.tocompare {
                display: block;
            }
        }

        &-name > a:hover {
            text-decoration: none;
        }

        & .price-box {
            & .price-label {
                .fonts-1();
            }
        }

        &-link {
            .fonts-13();
        }
    }

    &-list{
        & .product-item {
            display: block;
        }

        & .product-item-photo {
            width: 100%;
        }
    }

    &.attribute.sku .value{
        .fonts-1();
    }

    &-info{
        &-main{
            & .box-tocart {
                & .action.tocart{
                    padding-top: 5px;
                    color: @white-color;
                    background-color: @black-color-text;
                    &:hover{
                        background-color: @noti-color;
                    }
                }
    
                & .input-text.qty{
                    height: 40px;
                }
            }

            & .action.towishlist{
                margin-right: 20px;

            }
    
        }

        &-stock {
            &-sku {
                & .stock.available{
                    color: @listing-text-color;
                }
            }
        }

    }

}




.item.product.product-item.odd.last {
    & .product{
        & .product-item-photo{
            & .product-image-container {
                width: 100% !important;
            }
        }
    }
}

//
.privacy-policy-content {
    & ul {
        & li {
            color:  @text-color;
        }
    }
}

.header {
    &.content {
        height: 58px;
        .display-flex();
        align-items: center;
        position: relative;
        
        &::before , &::after {
            display: none;
        }
    }

    &__links{
        padding-top: 8px;
    }

    &__search {
        padding-top: 4px;
    }

}

.footer{
    padding-top: 64px;
    &.content {
        padding: 0 32px;
    }

    &__subscribe{
        & .block.newsletter {
            max-width: 100%;
            width: 100%;
            margin-bottom: 76px;
    
        }
    }
}

.footer__subscribe,
.main__subscribe-block {
    & .block.newsletter {
        max-width: 100%;
        width: 100%;

        & .field.newsletter {
            max-width: 100%;
        }
    }
}

.main__subscribe-block {
    & .action.subscribe {
        background-color: @noti-color;
    }

}


.main.content .block.newsletter {
    display: none;
}



.filter{
    &-options-content {
        & .items {
            flex-direction: column;
            align-items: start;
            & .item {
                & a{
                    padding-bottom: 12px;
                    &:hover {
                        color: @noti-color;
                    }
    
                }
            }
            & .count {
                display:none;
            }
        }
    }
    &-current .filter-label{
        padding-bottom: 12px;
    }

}

.field.qty {
    & .control{
        & input{
            height: 36px
        }
    }
}

.sorter-options {
    .fonts-1();
}

.toolbar{
    &-products {
        padding: 0;
        text-align: start;
    }

    &.wishlist-toolbar{
        & .pager{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.limiter-options {
    .fonts-1();
}



.breadcrumbs {
    padding: 32px;
    & .items {
        display: flex;
        flex-wrap: wrap;
        & li{
            display: flex;
            align-items: center;
            &::after {
                display: inline-block;
                text-decoration: none;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-size: 24px;
                line-height: 16px;
                color: inherit;
                content: '\e608';
                font-family: 'icons-blank-theme';
                vertical-align: middle;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
            }
    
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
}


.fotorama{
    &-item {
        & .fotorama__wrap{
            & .fotorama__stage {
                .fotorama__stage__shaft.fotorama__grab {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
        
                }

            }
        }
    }
    &__thumb {
        background: @white-color;
    }

    &--fullscreen {
        background-color: rgba(0, 0,0, 0.4);
        &  .fotorama__wrap{
            min-width: 0px;
            max-width: 1200px !important;
            margin: auto;
            background: @white-color;
            
        }
    }
}

.columns .column.main {
    padding-bottom: 0;
}

.column.main {
    & .block.block-dashboard-addresses {
        & .block-content{
            padding-top: 42px;
        }
    }
}

.checkout-payment-method .payment-method-content > .actions-toolbar > .primary .action.primary,
.methods-shipping .actions-toolbar .action.primary,
.cart-container .checkout-methods-items .action.primary,
.block-minicart .block-content > .actions > .primary .action.primary,
.form-address-edit .actions-toolbar .action.primary {
    padding: 0 17px;
}

.opc {
    &-progress{
        &-bar{
            padding: 30px 0;
        }
    }

    &-wrapper {
        & .step-title{
            padding-bottom: 24px;
        }
    }

    &-estimated {
        &-wrapper {
            & .minicart-wrapper{
                & .action.showcart {
                    background-color: @header-color;
                    height: 48px;
                }
            }

        }
    }

    &-block-shipping-information{
        & .shipping-information-title .action-edit{
            top: -3px;

        }
    }
}

.authentication{
    &-wrapper {
        margin-top: -47px;

        & .action-auth-toggle {
            color: @black-color-text;
    
        }
    }
}



.checkout-success {
    padding-top: 20px;
    & .actions-toolbar {
        padding-top: 20px
    }
}

.cart-empty {
    padding: 20px 0;
}

.payment{
    &-group {
        & .payment-method._active{
            & .payment-method-content{
                & .actions-toolbar{
                    padding: 0 17px
                }
            }
        }
    }
}

.checkout{
    &-container {
        & .opc-estimated-wrapper{
            & .minicart-wrapper{
                .action.showcart {
                    .counter.qty {
                        left: 34px;
                    }
                }
            }
        }
    }


}

.review-form .action.submit.primary {
    background: @black-color-text;
    color: @white-color;
    &:hover{
        background: @noti-color;
        color: @white-color;

    }
}
.search.found {
    .fonts-1();
    padding-bottom: 20px;
}

.table{
    &-wrapper {
        &.orders-history{
            & .data.table.table-order-items.history{
                & thead{
                    & tr {
                        & th {
                            .fonts-10();
                        }

                    }
                }

            }

        }

    }
}


.cart{
    &-container{
        padding-top: 20px;
    }

    &-summary {
        & .block > .title::after{
            top: 8px;
        }
    }

    &.table-wrapper{
        & .actions-toolbar > .action{
            margin-top: 12px;
        }
    }
}

.box-content{
    padding: 12px 0;
}

.cms-privacy-policy-cookie-restriction-mode.cms-page-view.page-layout-1column{
    & .page-wrapper{

        & .breadcrumbs{
            display: none;
        }

    }

    & .block-collapsible-nav{
        top: 57px
    }

    & .privacy-policy.cms-content {
        margin-top: 80px;
        
        & .title.block-collapsible-nav-title {
            .fonts-3();
            padding: 10px 32px;

        }
    }
}

.cms-customer-service.cms-page-view.page-layout-1column{
    .cms-content-important {
        & a {
            .fonts-8();
            color: @listing-text-color
    
        }
    }

}


@import '_colors.less';
@import '_breadcrumbs.less';
@import '_buttons.less';
@import '_fonts.less';

