.page {
    &-main {
        max-width: 100%;
        padding: 0;
        margin: 0;
        & .account {
            padding-top: 90px;

        }
    }

    &-wrapper {
        overflow: hidden;
    }
}


ul, ol {
    margin: 0;
}
ul > li, ol > li {
    margin: 0
}
.nav-toggle {
    position: relative;
    top: 0;
    order:-1;
    margin-left: -12px;
    margin-right: 16px;

}

.logo {
    margin: 0;
}



.block-search {
    margin-top: 0;
}
.minicart-wrapper {
    margin: 0;
}

.block-search {
    order: -1;
    & .control {
        border: none;
        position: absolute;
        top: 50px;
        max-width: 100%;
        left: 10px;
        right: 10px; 
        
    }
}
.navigation, 
.breadcrumbs, 
.page-header 
.header.panel, 
.header__content, 
.footer.content, 
.page-main, 
.page-wrapper > .widget, 
.page-wrapper > .page-bottom, 
.block.category.event, 
.top-container {
    padding: 0 12px;
}


.block-collapsible-nav {
    top: 30px;
}

.header__content:before,
.header__content:after {
    display: none;
}

.header {

    &__content {
        height: 58px;
        .display-flex();
        align-items: center;
        position: relative;
        
        &::before , &::after {
            display: none;
        }
    }
    &__links {
        padding-top: 8px;
    }
    &__search {
        padding-top: 4px;
    }
}



